# Python List

In [1]:
lst = ["hemant", "hitesh", "amish"]
print(lst)

['hemant', 'hitesh', 'amish']

In [3]:
#list lenght
print(len(lst))

3

In [5]:
lst = ["hemant", 30, True, "taylor"]
print(type(lst))

<class 'list'>

In [6]:
lst = list(("hemant", "taylor", "christina"))
print(lst)

['hemant', 'taylor', 'christina']

# Access list Iteams

In [7]:
lst = ["hemant", "taylor", "christina"]
print(lst[1])

taylor

In [8]:
print(lst[-1])

christina

In [16]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn", "adele"]
print(lst[1:7])
print(lst[:5])
print(lst[2:])

['taylor', 'christina', 'hitesh', 'justine', 'billi', 'shawn']
['hemant', 'taylor', 'christina', 'hitesh', 'justine']
['christina', 'hitesh', 'justine', 'billi', 'shawn', 'adele']

In [17]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn", "adele"]
print("hitesh" in lst)

True

# Change List Items

In [25]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn", "adele"]
lst[1] = "halsey"
print(lst)

['hemant', 'halsey', 'christina', 'hitesh', 'justine', 'billi', 'shawn', 'adele']

In [20]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst[1:2] = ["halsey", "rachal"]
print(lst)

['hemant', 'halsey', 'rachal', 'christina', 'hitesh', 'justine', 'billi', 'shawn']

In [21]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst[1:3] = ["halsey"]
print(lst)

['hemant', 'halsey', 'hitesh', 'justine', 'billi', 'shawn']

# Add list iteams

In [36]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst.append("halsey")
print(lst)

['hemant', 'taylor', 'christina', 'hitesh', 'justine', 'billi', 'shawn', 'halsey']

In [37]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst.insert(2, "halsey")
print(lst)

['hemant', 'taylor', 'halsey', 'christina', 'hitesh', 'justine', 'billi', 'shawn']

In [43]:
lst1 = ["hemant", "taylor", "christina"]
lst2 = ["hitesh", "justine", "billi", "shawn"]
lst1.extend(lst2)
print(lst1)

['hemant', 'taylor', 'christina', 'hitesh', 'justine', 'billi', 'shawn']

In [45]:
# add tuple in list 
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
tpl = ("halsey", "aniket")
lst.extend(tpl)
print(lst)

['hemant', 'taylor', 'christina', 'hitesh', 'justine', 'billi', 'shawn', 'halsey', 'aniket']

In [47]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
dct = {"halsey": 1, "aniket": 29}
lst.extend(dct)
print(lst)

['hemant', 'taylor', 'christina', 'hitesh', 'justine', 'billi', 'shawn', 'halsey', 'aniket']

# Remove list Iteams

In [48]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst.remove("taylor")
print(lst)

['hemant', 'christina', 'hitesh', 'justine', 'billi', 'shawn']

In [51]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst.pop()
print(lst)

['hemant', 'taylor', 'christina', 'hitesh', 'justine', 'billi']

In [54]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
del lst[2]
print(lst)

['hemant', 'taylor', 'hitesh', 'justine', 'billi', 'shawn']

In [55]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst.clear()
print(lst)

[]

# Loop List

In [56]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
for x in lst:
    print(x)

hemant
taylor
christina
hitesh
justine
billi
shawn

In [58]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
for i in range(len(lst)):
    print(lst[i])

hemant
taylor
christina
hitesh
justine
billi
shawn

In [59]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
i = 0
while i < len(lst):
  print(lst[i])
  i = i + 1

hemant
taylor
christina
hitesh
justine
billi
shawn

# List Comprehension

In [60]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
[print(x) for x in lst]

hemant
taylor
christina
hitesh
justine
billi
shawn

[None, None, None, None, None, None, None]

In [61]:
lst1 = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst2 = [x for x in lst1 if "a" in x]
print(lst2)

['hemant', 'taylor', 'christina', 'shawn']

In [62]:
lst1 = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst2 = [x for x in lst1 if x != "christina"]
print(lst2)

['hemant', 'taylor', 'hitesh', 'justine', 'billi', 'shawn']

In [65]:
lst2 = [x for x in range(10)]
print(lst2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
lst1 = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst2 = [x.upper() for x in lst1]
print(lst2)

['HEMANT', 'TAYLOR', 'CHRISTINA', 'HITESH', 'JUSTINE', 'BILLI', 'SHAWN']

In [67]:
lst1 = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst2 = [x if x != "taylor" else "halsey" for x in lst1]
print(lst2)

['hemant', 'halsey', 'christina', 'hitesh', 'justine', 'billi', 'shawn']

# Sort list

In [75]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst.sort()
print(lst)

['billi', 'christina', 'hemant', 'hitesh', 'justine', 'shawn', 'taylor']

In [76]:
lst = ["hemant", "taylor", "christina", "hitesh", "justine", "billi", "shawn"]
lst.sort(reverse = True)
print(lst)

['taylor', 'shawn', 'justine', 'hitesh', 'hemant', 'christina', 'billi']

In [79]:
def func(n):
    return abs(n - 50)

lst = [100, 800, 500, 50, 23, 49]
lst.sort(key = func)
print(lst)

[50, 49, 23, 100, 500, 800]

In [80]:
lst = ["hemant", "taylor", "Christina", "Hitesh", "justine", "billi", "Shawn"]
lst.sort()
print(lst)

['Christina', 'Hitesh', 'Shawn', 'billi', 'hemant', 'justine', 'taylor']

In [82]:
lst = ["hemant", "taylor", "Christina", "Hitesh", "justine", "billi", "Shawn"]
lst.sort(key = str.lower)
print(lst)

['billi', 'Christina', 'hemant', 'Hitesh', 'justine', 'Shawn', 'taylor']

In [83]:
lst = ["hemant", "taylor", "Christina", "Hitesh", "justine", "billi", "Shawn"]
lst.reverse()
print(lst)

['Shawn', 'billi', 'justine', 'Hitesh', 'Christina', 'taylor', 'hemant']

# Copy List

In [86]:
lst1 = ["hemant", "taylor", "Christina", "Hitesh", "justine", "billi", "Shawn"]
lst2 = lst1.copy()
print(lst2)

['hemant', 'taylor', 'Christina', 'Hitesh', 'justine', 'billi', 'Shawn']

In [87]:
lst1 = ["hemant", "taylor", "Christina", "Hitesh", "justine", "billi", "Shawn"]
lst2 = list(lst1)
print(lst2)

['hemant', 'taylor', 'Christina', 'Hitesh', 'justine', 'billi', 'Shawn']

# Join list

In [90]:
lst1 = ["hemant", "taylor", "Christina"]
lst2 = ["Hitesh", "justine", "billi", "Shawn"]
lst1 = lst1 + lst2
print(lst1)

['hemant', 'taylor', 'Christina', 'Hitesh', 'justine', 'billi', 'Shawn']

In [92]:
lst1 = ["hemant", "taylor", "Christina"]
lst2 = ["Hitesh", "justine", "billi", "Shawn"]
for word in lst2:
    lst1.append(word)
print(lst1)

['hemant', 'taylor', 'Christina', 'Hitesh', 'justine', 'billi', 'Shawn']

In [93]:
lst1 = ["hemant", "taylor", "Christina"]
lst2 = ["Hitesh", "justine", "billi", "Shawn"]
lst1.extend(lst2)
print(lst1)

['hemant', 'taylor', 'Christina', 'Hitesh', 'justine', 'billi', 'Shawn']

# Method		Description
append()	Adds an element at the end of the list
clear()		Removes all the elements from the list
copy()		Returns a copy of the list
count()		Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()		Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()		Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()		Sorts the list

In [99]:
import pandas as pd
di = {"Method": ["append()", "clear()", "copy()", "count()", "extend()", "index()", "insert()", "pop()", "remove()", "reverse()", "sort()"], "Description": ["Adds an element at the end of the list", "Removes all the elements from the list", "Returns a copy of the list", "Returns the number of elements with the specified value", "Add the elements of a list (or any iterable), to the end of the current list", "Returns the index of the first element with the specified value", "Adds an element at the specified position", "Removes the element at the specified position", "Removes the item with the specified value", "Reverses the order of the list", "Sorts the list"]}
df = pd.DataFrame(di)
print(df.to_string())

       Method                                                                   Description
0    append()                                        Adds an element at the end of the list
1     clear()                                        Removes all the elements from the list
2      copy()                                                    Returns a copy of the list
3     count()                       Returns the number of elements with the specified value
4    extend()  Add the elements of a list (or any iterable), to the end of the current list
5     index()               Returns the index of the first element with the specified value
6    insert()                                     Adds an element at the specified position
7       pop()                                 Removes the element at the specified position
8    remove()                                     Removes the item with the specified value
9   reverse()                                                Reverses the order of the list
10     sort()                                                                Sorts the list